.btn {
  padding: 1.25rem;
  margin-inline: 0.625rem;
  background-color: $bg-darkgreen;
  border: none;
  border-radius: 0.625rem;

  color: $cyan-text;
  transition: background-color 300ms ease-out;

  &:hover {
    background-color: $ctrl-hover;
    color: $lightgreen-text;
  }
}
