// Text color
$grey-text: #c5c6c7;
$cyan-text: #66fcf1;
$lightgreen-text: #d1e8e2;
$text_action: #005afe;

// Background color
$bg-darkcyan: #45a29e;
$bg-darkgreen: #116466;
$bg-footer: #12171a;
$bg_dimming: #d2cfcf4d;
$bg_modal: #1d1e1f;
$bg_bnt-disabled: #ac3c67;
$bg-primary-gradient: linear-gradient(
  90deg,
  #152429,
  #193739,
  #1a3d3a,
  #1d443b,
  #1d443b,
  #1a3d3a,
  #193739,
  #152429
);

// Service

$ctrl-hover: #337bfe;
