.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.body-img {
  width: 650px;
  object-fit: cover;
}
